spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # RegisterMS - authentication and user registration
        - id: register-ms-auth
          uri: ${REGISTER_MS_URL:http://localhost:8080}
          predicates:
            - Path=/auth/**
        
        # Monolith - all other API endpoints
        - id: monolith-api
          uri: ${MONOLITH_URL:http://localhost:8088}
          predicates:
            - Path=/api/**
        
        - id: monolith-context
          uri: ${MONOLITH_URL:http://localhost:8088}
          predicates:
            - Path=/monolith/**
        
        # Actuator endpoints
        - id: monolith-actuator
          uri: ${MONOLITH_URL:http://localhost:8088}
          predicates:
            - Path=/actuator/**
      
      # Global CORS configuration
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: false

server:
  port: 8000

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: INFO
